@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Sarabun", "sans-serif";
  --color-pastel-pink: #ffd1dc;
  --color-pastel-blue: #aec6cf;
  --color-pastel-indigo: #c3dafb;
  --color-pastel-rose: #fbcce1;
}

:root {
  background-color: #f8fafc;
  color: #1e293b;
}

body {
  margin: 0;
  min-height: 100vh;
}

